html,
body,
ul,
li,
a,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

html {
    font-size: 62.5%;

}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

:root {
    --cor-principal: #30c375;
    --cor-secundaria: #2d314e;
}

/* MOBILE FIRST */
.header {
    background-color: white;
    z-index: 9999;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    width: 95%;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background: white;
    z-index: 9999;
}


/* MENU-HAMBURGUER */

.icon {
    cursor: pointer;
    z-index: 9999;
}

.um {
    background-color: var(--cor-secundaria);
    width: 25px;
    height: 3px;
    transition: 0.3s;
}

.dois {
    background-color: var(--cor-secundaria);
    width: 25px;
    height: 3px;
    margin-top: 2px;
    transition: 0.3s;
}

.tres {
    background-color: var(--cor-secundaria);
    width: 25px;
    height: 3px;
    margin-top: 2px;
    transition: 0.3s;
}

/* LOGOMARCA */

.logomarca {
    padding: 20px 0;
}

/* MENU */

.ativo.menu {
    background-color: white;
    width: 90%;
    height: 45vh;
    transform: translate(20px, 85px);
    box-shadow: 5px 10px 248px 20px #00000073;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 0.7s;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.981);
    }
}

.ativo.menu li+li {
    margin-top: 20px;
}

.ativo.menu a {
    color: rgb(43, 40, 40);
    font-size: 2.0rem;
}

/* MENU-HAMBURGUER VIRA UM X */

.icon-x .um {
    opacity: 0;
}

.icon-x .dois {
    transform: rotate(45deg) translate(4px, 4px);
    background-color: rgb(26, 24, 24);
}

.icon-x .tres {
    transform: rotate(-45deg) translate(-0px, -0px);
    background-color: #30c375;
}

@media (max-width: 1024px) {
    .menu {
        color: black;
        display: none;
    }

    .botao2 {
        display: none;
    }

    li:nth-child(6) {
        display: none;
    }

    .img3 {
        display: none;
    }
}

.back1 {
    width: 100%;
    height: 60vh;
}

.back1-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img1 {
    z-index: -1;
}


.img2 {
    position: relative;
    z-index: -1;
    bottom: 511px;
}

.img2 img {
    width: 374px;
   
}

/*👉BACKGROUND 2👈*/

.back2 {
    width: 100%;
    height: 45vh;
}

.back2-flex {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.back2-flex h1 {
    color: #31334c;
    font-size: 3.9rem;
    line-height: 100%;
}

.text1 {
    margin: 25px 0;
    color: #87888d;
    font-size: 1.4rem;
    line-height: 165%;
}

.botao {
    font-size: 1.4rem;
    padding: 15px;
    margin: 0px 80px;
    border-radius: 20px;
    background: linear-gradient(90deg, #31cf70, #2cbbc1);
}

/*👉BACKGROUND 3👈*/

.back3 {
    background-color: #f4f5f7;
    width: 100%;
    height: 100%;
}

.back3-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.back3-flex h2 {
    margin-top: 40px;
    color: #393b46;
    font-size: 3.1rem;
}

.text2 {
    margin: 25px 0;
    color: #87888d;
    font-size: 1.4rem;
    line-height: 165%;
}

.items1 h3 {
    margin-top: 15px;
    font-size: 1.9rem;
    color: #46475b;
}

.items1 p {
    margin: 25px 0;
    color: #87888d;
    font-size: 1.4rem;
    line-height: 165%;
}
/*👉BACKGROUND 4👈*/
.back4 {
    width: 100%;
    height: 100%;
}

.back4-flex {
    display: flex;
    flex-direction: column;
}

.back4-flex h2 {
    text-align: center;
    margin-top: 60px;
    color: #393b46;
    font-size: 3.1rem;
}

.text3 {
    width: 100%;
    height: 100%;
}

.text3 img {
    margin-top: 30px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.text3 h6 {
    color: #b2b1b7;
}

.text3 h3 {
    font-size: 1.8rem;
}

.text3 p {
    margin: 20px 0;
    color: #87888d;
    font-size: 1.4rem;
    line-height: 165%;
}
/*👉FOOTER👈*/
.footer {
    width: 100%;
    height: 100%;
    background-color: #2d314e;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.footer-flex img {
    margin-top: 40px;
}
.footer-flex a {
    margin: 5px 0px;
    color: #d3d4e6;
    font-size: 1.4rem;
}
.text4 img {
    margin: 30px 5px;
    width: 30px;
}
.text5 {
    text-align: center;
}
.botao1 {
    color: white;
    font-size: 1.8rem;
    padding: 15px 35px;
    margin: 25px 0px;
    border-radius: 20px;
    background: linear-gradient(90deg, #31cf70, #2cbbc1);
}
/*👉TABLET👈*/
@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
    .ativo.menu {
        transform: translate(40px, 60px);
    }
    .tres {
        margin-top: 5px;
        filter: brightness(1.4);
    }
    .dois {
        margin-top: 5px;
        filter: brightness(2.4);
    }
    .icon-x .dois {
        transform: rotate(45deg) translate(5px, 6px);
    }
    .img1 {
        transform: translate(197px, 0px);
    }
    .img2 img {
        transform: translate(0px, 60px);
        width: 430px;
    }
}
/*👉COMPUTADOR👈*/
@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
    }
    html {
        overflow-x: hidden;
    }
    .menu {
        display: block;
    }
    .menu a {
        color: black;
    }
    .icon {
        display: none;
    }
    .header-flex li {
        margin: 0px 20px;
    }
    .header-flex ul {
        font-size: 1.3rem;
        transform: translate(-200px, 9px);
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    li:nth-child(6) {
        transform: translate(230px, -9px);
        color: white;
        font-size: 1.1rem;
        padding: 12px 35px;
        border-radius: 20px;
        background: linear-gradient(90deg, #31cf70, #2cbbc1);
    }
    li:nth-child(6) a {
        color: white;
    }
    /*👉BACKGROUND 1👈*/
    .back1 {
        width: 100%;
        height: 50vh;
    }
    .back1-flex {
        display: flex;
        flex-direction: row;
    }
    .img1 {
        display: none;
    }
    .img2 {
        position: relative;
        width: 100%;
        transform: translate(-205px, 409px);
        z-index: 1;
    }
    .img2 img {
        height: 950px;
        width: 800px;
    }
    .img3 {
        transform: translate(890px, -240px);
        z-index: -1;
    }
    /*👉BACKGROUND 2👈*/

    
    .back2-flex {
        display: flex;
        flex-direction: row;
    }
    .back2-flex h1 {
        text-align: left;
        font-size: 5.7rem;
        line-height: 110%;
        transform: translate(0px, -240px);
    }
    .text1 {
        font-size: 1.4rem;
        text-align: left;
        transform: translate(-440px, -110px);
    }
    .botao {
        min-width: 86px;
        height: 40px;
        transform: translate(-1000px, -10px);
    }
    .botao a {
        font-size: 1.3rem;
    }
    /*👉BACKGROUND 3👈*/
    .back3 {
        width: 100%;
        height: 120vh;
    }
    .back3-flex {
        text-align: left;
        display: flex;
        flex-direction: row;
    }
    .back3-flex h2 {
        text-align: left;
        font-size: 4.0rem;
        flex-direction: column;
        transform: translate(0px, 30px);
        width: 100%;
    }
    .text2 p {
        margin: 0 auto;
        font-size: 1.4rem;
        transform: translate(-199px, 240px);
        width: 800%;
    }
    .items1 {
        text-align: left;
        transform: translate(-470px, 400px);
    }
    .items1 p {
        width: 300%;
    }
    .items1 {
        margin-left: 220px;
    }
    .back4 {
        width: 100%;
        height: 120vh;
    }
    .back4-flex {
        display: flex;
        flex-direction: row;
        text-align: left;
        flex-wrap: nowrap;
    }
    .back4-flex h2 {
        text-align: start;
        font-size: 4.0rem;
        transform: translate(-15px, -40px);
    }
    .text3 {
        transform: translate(-70px, 200px);
        margin: 0px 20px;
    }
    .text3 h6 {
        font-size: 1.0rem;
    }

    .footer {
        width: 100%;
        height: 100%;
    }

    .footer-flex {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .logo{
        transform: translate(-500px,20px);
     
    }
    .footer-flex img  {
        transform: translate(-500px,40px);
    }
    .footer-flex a {
        transform: translate(-20px,-100px);
    }
    .botao1 {
        transform: translate(450px,-240px);
    }
}